export APP_NAME=user-service
export APP_ENV=development
export SERVER_PORT=8080

export DB_HOST=localhost
export DB_PORT=5433
export DB_USER=postgres
export DB_PASSWORD=postgres
export DB_NAME=lost_found
export DB_SSLMODE=disable

export REDIS_ADDR=localhost:6379
export REDIS_PASSWORD=

export JWT_SECRET=change-me-in-production

# Notification
export NOTIFICATION_TIMEOUT=10s

# SMS
export SMS_PROVIDER=africas_talking
export SMS_API_KEY=
export SMS_USERNAME=LOSTFOUND
export SMS_PASSWORD=
export SMS_SENDER_ID=e80ad9d8-adf3-463f-80f4-7c4b39f7f164
export SMS_BASE_URL= https://api.afromessage.com/api/send

# Email
export EMAIL_PROVIDER=smtp
export EMAIL_SMTP_HOST=smtp.gmail.com
export EMAIL_SMTP_PORT=587
export EMAIL_SMTP_USERNAME=
export EMAIL_SMTP_PASSWORD=
export EMAIL_FROM=

# Telegram
export TELEGRAM_PROVIDER=telegram
export TELEGRAM_BOT_TOKEN=
export TELEGRAM_BASE_URL=https://api.telegram.org

# WhatsApp
export WHATSAPP_PROVIDER=meta
export WHATSAPP_ACCESS_TOKEN=
export WHATSAPP_PHONE_NUMBER_ID=
export WHATSAPP_BASE_URL=
