export APP_NAME=user-service
export APP_ENV=development
export SERVER_PORT=8080

export DB_HOST=localhost
export DB_PORT=5433
export DB_USER=postgres
export DB_PASSWORD=postgres
export DB_NAME=lost_found
export DB_SSLMODE=disable

export REDIS_ADDR=localhost:6379
export REDIS_PASSWORD=

export JWT_SECRET=change-me-in-production